body {
    background-color: rgb(19, 59, 35);
    color: rgb(240, 240, 240);
    font-family: 'Oxygen', sans-serif;
    font-weight: bolder;
    font-size: 10px;
}
/*HEADER */

#header-nav {
background-color: rgb(175, 124, 13);
border-radius: 0;
border: 0;
/* height: 85px; */
}

/*logo text*/
.navbar-brand h1 {   
    color: crimson;
    font-size: 45px; 
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 2px #222;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: .75;   
    text-decoration: none; 
}

/*navigation elements*/
#nav-list {
    margin-top: 15px;
    font-size: 20px;
}

#nav-list div {
    color: darkgreen;
    text-align: center;
}

#nav-list div:hover {
background-color:moccasin;
}

/*drop button*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

/* END HEADER */


/* HOME PAGE */

#main-menu-title{
    font-size: 22px;
    color: rgb(168, 144, 116);
}
.content-box .box-titles{
    font-size: 20px;
    color: darksalmon;
}
.element-box{
    /* background-color: rgb(148, 63, 63); */
    padding: 10px 10px 10px 10px;
}
.content-box{
    font-size: 15px;
    background-color: rgb(70, 70, 70);
    padding: 10px 8px 10px 8px;
}
 
/* END HOME PAGE */


/********Large devices only********/
@media (min-width: 1200px) {
    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }
}

/********Medium devices only********/
@media (min-width: 992px) and (max-width: 1199px) {
     /* Header */

    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }

    /*End Header */


    /* Home Page */


    /* End Home Page */

}

/********Small devices only********/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }
}

/********Extra small devices only********/
@media (max-width: 767px) {

}
